{% extends 'home.html' %}


{% block content %}

{% if t=='s' %}
  <div class="movie" style="border-color: #181818;width: 40%;color: #A8A8A8;" >
    <center><h2>This movie is not in our database. Please try with another one</h3><center>
  </div>
09
  {% else %}
  <div class="movie" style="color: #ff0000;">
    <center><h4>Recommendation for "{{movie}}"</h4></center>
  </div>

  	<div class="list-recommend" style="margin-top: 30px;margin-bottom: 50px;text-align: left;">
    <ul class="list-group list-group-flush" style="margin-left: auto;margin-right: auto;text-align: left;width: 30%;color: #ff0000;">
      {% for mo in re %}
        <li class="list-group-item" style="background-color:#00ffff85;"><strong>{{mo|title}}</strong></li>
      {% endfor %}
    </ul>

</div>
  {% endif %}

{% endblock %}